<app-cabecalho></app-cabecalho>

<div class="minhas-vagas-container">
  <!-- Filtro por Status -->

  <div class="vagas-lista">
    <div class="filtro-status">
      <label for="filtroStatus">Filtrar por Status:</label>
      <select id="filtroStatus" [(ngModel)]="statusFiltro" (change)="filtrarVagas()">
        <option value="">Todos</option>
        <option value="Pendente">Pendente</option>
        <option value="Aprovado">Aprovado</option>
        <option value="Rejeitado">Rejeitado</option>
      </select>
    </div>
    <h4>Candidaturas feitas</h4>
    <div *ngIf="vagasFiltradas.length > 0; else semVagas">
      <div 
        class="vaga" 
        *ngFor="let vaga of vagasFiltradas" 
        (click)="selecionarVaga(vaga)"
        [class.selected]="vaga === vagaSelecionada"
      >
        <h3>{{ vaga.titulo }}</h3>
        <p><strong>Nome da vaga:</strong> <br> {{ vaga.vaga.titulo }}</p>
        <p><strong>Status:</strong> <br> {{ vaga.status }}</p>
      </div>
    </div>
    <ng-template #semVagas>
      <p>Você ainda não se candidatou a nenhuma vaga.</p>
    </ng-template>
  </div>

  <div class="vaga-detalhes" *ngIf="vagaSelecionada">
    <h2>Detalhes da Candidatura</h2>
    <h3>{{ vagaSelecionada.titulo }}</h3>
    <p><strong>Nome da vaga:</strong> <br> {{ vagaSelecionada.vaga.titulo }}</p>
    <p><strong>Descricao da vaga:</strong> <br> {{vagaSelecionada.vaga.descricao}} </p>
    <p><strong>Status:</strong> <br> {{ vagaSelecionada.status }}</p>
    <p><strong>Feedback do Recrutador:</strong> <br> {{ vagaSelecionada.feedback || 'Nenhum feedback disponível.' }}</p>
  </div>
</div>
